


<body>
<div id="booking" class="section" >
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="booking-cta" style="margin-left: 2px">
                        <h1>reservation</h1>
                        <p>make your reservation NOW</p>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form">
                        <form>
                            <div class="form-group">
                                <div class="form-checkbox">

                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="flight-type">
                                        <span></span>First Time
                                    </label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">your City</span>
                                        <input class="form-control" type="text" placeholder="City #">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">your Email</span>
                                        <input class="form-control" type="mail" placeholder="City #">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">your Number Phone</span>
                                        <input class="form-control" type="number" placeholder="City #">
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Adults (18+)</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Children (0-17)</span>
                                        <select class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">VIP</span>
                                        <select class="form-control">
                                            <option>Economy class</option>
                                            <option>VIP class</option>
                                            <option>First class</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Show flights</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

